body {
    background-image: url('green-lights-background.jpg');

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;

    min-height: 400vh;

    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.navbar {
    display: flex;
}

.bilal {
    font-size: xx-large;
    display: inline-block;
    color: aqua;
    padding: 40px;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.frontend {

    display: flex;
    color: gray;
    margin-left: 700px;
    align-items: center;
    justify-content: center;
    font-size: large;


}

.button1 {
    margin-top: 40px;
    height: 40px;
    width: 150px;
    padding-left: 0px;
    display: flex;
    color: gray;
    margin-left: 150px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: rgb(44, 82, 82);
    border-color: rgba(0, 1, 3, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.en {

    margin-top: 40px;
    height: 35px;
    display: flex;
    color: grey;
    margin-left: 150px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

}

.page1content {
    display: inline-block;
    margin-left: 800px;
    align-items: center;
    justify-content: center;


}

.designer {
    display: flex;
    padding-top: 40px;
    color: aqua;
    font-size: x-large;

}

.agency {
    display: flex;
    padding-top: 10px;
    font-size: xxx-large;
    color: rgb(255, 255, 255);
}

.my {
    display: flex;
    padding-top: 10px;
    padding-right: 350px;
    font-size: x-large;
    color: aliceblue;
}

.whatsapp {
    display: flex;
    margin-top: 100px;
    border-radius: 20px;
    height: 50px;
    width: 200px;
    align-items: center;
    justify-content: center;
    padding-right: 60px;
    background-color: aqua;
    color: aliceblue;
    border-color: transparent;
}

.whatsapp::after {
    margin-left: 55px;
    content: "";
    position: absolute;
    height: 60px;
    width: 210px;
    border-radius: 20px;
    background: rgb(48, 151, 89);
    background-image: linear-gradient(to bottom right, #008f00, #26988f);
    z-index: -1;

}

.whatsapp:hover {
    z-index: 0;
    box-shadow: 20px 0 50px #416086, -20px 0 50px #d8df9e;
}

.whatsapplogo {
    height: 30px;
    background-color: aqua;
    color: aqua;
}

.nav {
    display: flex;
    column-gap: 100px;
    color: antiquewhite;
    border: solid blanchedalmond;
    margin-top: 35px;
    border-radius: 10px;
    padding-left: 130px;
    padding-right: 100px;
    margin-left: 300px;
    margin-right: 250px;

}

.c {
    background-color: rgb(17, 39, 39);
    padding: 10px;
    border-radius: 25px;
}